<!DOCTYPE html>
<html>
<head>
    <title>لیست کارمندان</title>
</head>
<body>
    <h1>لیست کارمندان</h1>
    
    <!-- اگر لیست خالی بود -->
    {% if not employees %}
        <p>هیچ کارمندی یافت نشد.</p>
    {% else %}
        <ul>
            <!-- حلقه روی داده‌ها -->
            {% for employee in employees %}
                <li>
                    {{ employee.fullname }}
                    - {{ employee.role }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>